/* importando fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #007bff;
}

::selection{
    color: #fff;
    background: #007bff;
}

.btn_inicio,
.caja_informacion,
.caja_cuestionario,
.caja_de_resultados{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caja_informacion.infoActiva,
.caja_cuestionario.preguntaActiva,
.caja_de_resultados.resultadoActivo{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.btn_inicio button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.caja_informacion{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.caja_informacion .info-titulo{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.caja_informacion .info-lista{
    padding: 15px 30px;
}

.caja_informacion .info-lista .info{
    margin: 5px 0;
    font-size: 17px;
}

.caja_informacion .info-lista .info span{
    font-weight: 600;
    color: #007bff;
}
.caja_informacion .botones{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.caja_informacion .botones button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.caja_cuestionario{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.caja_cuestionario header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.caja_cuestionario header .titulo{
    font-size: 20px;
    font-weight: 600;
}

.caja_cuestionario header .cronometro{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.caja_cuestionario header .cronometro .tiempo_restante_sec{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.caja_cuestionario header .cronometro .cronometro_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.caja_cuestionario header .linea_de_tiempo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .texto_pregunta{
    font-size: 25px;
    font-weight: 600;
}

section .lista_de_opciones{
    padding: 20px 0px;
    display: block;   
}

section .lista_de_opciones .opcion{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .lista_de_opciones .opcion:last-child{
    margin-bottom: 0px;
}

section .lista_de_opciones .opcion:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .lista_de_opciones .opcion.correcto{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .lista_de_opciones .opcion.incorrecto{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .lista_de_opciones .opcion.deshabilitado{
    pointer-events: none;
}

section .lista_de_opciones .opcion .icono{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.lista_de_opciones .opcion .icono.marcar{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.lista_de_opciones .opcion .icono.cruz{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_pregunta span{
    display: flex;
    user-select: none;
}

footer .total_pregunta span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_pregunta span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.mostrar{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.caja_de_resultados{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.caja_de_resultados .icono{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.caja_de_resultados .texto_completado{
    font-size: 20px;
    font-weight: 500;
}

.caja_de_resultados .puntaje_texto span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.caja_de_resultados .puntaje_texto span p{
    padding: 0 4px;
    font-weight: 600;
}

.caja_de_resultados .botones{
    display: flex;
    margin: 20px 0;
}

.caja_de_resultados .botones button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.botones button.volver-a-empezar{
    color: #fff;
    background: #007bff;
}

.botones button.volver-a-empezar:hover{
    background: #0263ca;
}

.botones button.salir{
    color: #007bff;
    background: #fff;
}

.botones button.salir:hover{
    color: #fff;
    background: #007bff;
}